<!DOCTYPE html>
<html>
  <head>
    <title>게시글 작성</title>
  </head>
  <body>
    <h1>게시글 작성</h1>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <label for="title">제목:</label>
      <input type="text" id="title" name="title" required /><br />
      <label for="content">내용:</label>
      <textarea id="content" name="content" required></textarea><br />
      <label for="image">사진 업로드:</label>
      <input type="file" id="image" name="image" /><br />
      <button type="submit">작성하기</button>
    </form>
  </body>
</html>
